.div{ border: solid;
  background: blueviolet;
    width: 300px;
    height: 230px;
    margin: 1%;
    border-radius: 15px;
  }

.div-contenedor{
  display: flex;
}

.span-home{
  display: flex;
  padding: 1%;
}

.navbar-principal{
  list-style-type: none;
  /* position: fixed; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #255274;
}

.navbar{
  display: flex;
  /* justify-content: space-between;  */
  align-items: center;
  padding: 16px;
  background-color: #FFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}

.navbar__item:hover{
  background-color: blue; /* Cambia el fondo al pasar el mouse por encima */
  color: white; 
}

.navbar__item--active {
  background-color: red; /* Fondo del item activo */
  color: white; /* Color del texto del item activo */
}


.h1-cv{
  font-size: 24px; 
  font-weight: 500;
}

li {
  float: center;
}

ul{
  list-style: none; 
  display: flex; 
  gap: 24px;
}

i{
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a{
  text-decoration: none; 
  color: #777;
}

.fuente-24 {
  font-size: 24px;
}

.fuente-48 {
  font-size: 48px;
}

.fuente-100 {
  font-size: 100px;
}


.titulo-center {
  display: flex;
  font-size: 24px;
  color: #2f25e3;
}

.subtitulo{
  padding-left: 30px;
}

.titulo-left {
  align-items: flex-end;
  font-size: 50px;
  color: #2079b0;

}

.titulo-rigth {
  margin: 200;
  font-size: 60px;
  color:brown
}

.parrafo-actualizado{
  font-size: 20px;
  color:rgb(1, 110, 19)
}

li a, .dropbtn {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(51, 12, 191);
}

.card-personaje{
  border: solid;
  background: blueviolet;
    width: 200px;
    height: 100px;
    margin: 1%;
    border-radius: 15px;
}

.datos-usuarios{
  padding-left: 15px;
}

.title {
  text-align: center;
}

.btn {
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  margin-left: 10px;
  border-radius: 1px;
}


.div-contador{
  padding: 10px;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 1s linear;
}

.App-header {
  background-image: url(logo.svg);
  background-color: #14223e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #31cdf8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
